/*Kristin Skelton 2/28/2015
Styling for Search web page*/


/*---------------------------General Body Styling---------------------------*/
html { 
  background: url('images/gold-lights.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

/*---------------------------Search Input Styling---------------------------*/
#search-input {
	width: 400px;
	margin: 35px auto;
}

#search-input input {
	text-align: center;
	width: 400px;
	height: 75px;
	font-size: 40px;
	margin: 0 auto;
	border: 1px solid #ccc;
	border-radius: 5px;
}

/*---------------------------Results Styling---------------------------*/
#results {
  background-color: rgba(242,243,244,.5);
  font-size: 25px;
}

a:not(:first-child)::before {
	content:"\a";
    white-space: pre-line;
}


a {
	color: #939393;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
